@tailwind base;
@tailwind components;
@tailwind utilities;



.h-call{
  height: calc(100vh - 56px);
}

.resize-in{
  resize: vertical;
  
}

.myblakc{
  background-color: #3C3C3C;
}

.react-flow__node-Resposta{
  z-index: -10!important;
}

.react-flow__attribution{
  background-color: #3C3C3C!important;
  color: white !important;
}
.MuiFormLabel-root{
  color: white!important;
}